 @import "bootstrap-sprockets";
 @import "bootstrap";

body, html {
  height: 100%;
  margin: 0 !important;
}

.jumbotron {
  background: url(https://images.contentful.com/q602vtcuu3w3/68tUah4ndusASe0yyw4K2M/8d50f38e06aa6fd33d8a35a7748c2497/21.jpg?w=2160&q=80&fm=webp) no-repeat center center;
  background-size: auto 120%;
  margin-bottom: 0px;
  height: 400px;
  color: white;
  margin-bottom: 60px;
}

.jumbotron h1 {
  font-size: 57px;
  margin-top: 123px;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: helvetica,arial,sans-serif;
}

.row.new-product {
  margin-left: 2px;
}

.thumbnail {
  padding: 0px;
}

.thumbnail h4 {
  font-size: 16px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
}
.thumbnail p {
  font-family: helvetica,arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
}

.container-fluid {
  padding-left: 60px;
  padding-right: 60px;
}

.new-arrivals {
  font-size: 29px;
  text-align: center;
  font-family: "Francois One",sans-serif;
}

.dropdown-header {
  font-size: 14px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
}
.dropdown-menu > li > a {
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
  letter-spacing: .5px;
}

li > a > .fa {
  padding-top: 2px;
  font-size: 18px;
  // padding-right: 5px;
  color: #000;
}
li > a > .fa:hover {
  color: #666;
}

.navbar-default{
  background-color: #fff;
  border-color: #e7e7e7 !important;
}
.navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid transparent;
  margin-top: 0;
  width: 100%;
}

.navbar-default .navbar-brand {
  color: #000;
  font-family: "Francois One",sans-serif;
  font-size: 23px;
}

.navbar > .container-fluid .navbar-brand {
  margin-left: 21px;
}

.nav > #search-form {
  float: left;
  padding-top: 15px;
  margin-right: 10px;
}
#search {
  padding-left: 24px;
  margin-left: -24px;
  font-family: helvetica,arial,sans-serif;
  outline: none;
  border: 1px solid #ccc;
}
.glyphicon.glyphicon-search {
  font-size: 11px;
  color: #b2b5ba;
}

.submit {
  display: none;
}

img {
  width: 100%
}

.text-center {
  margin-bottom: 30px;
  text-align: center;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.row.text-center > h4 {
  font-family: helvetica,arial,sans-serif;
  font-size: 19px;
  letter-spacing: .5px;
  font-weight: 300;
}

.btn.new-product-btn {
  width: 150px;
  height: 40px;
  margin: 0 auto;
  border-color: #ccc;
  font-size: 15px;
  box-shadow: none;
  outline: none;
  background-color: white;
}

.btn.new-product-btn > a:hover {
  text-decoration: none;
  background-color: #fff;
}
.btn.new-product-btn > a, .btn.new-product-btn > a:visited {
  color: #000;
}

.links_index > a, .links_index > a:visited {
  font: 1.5rem/1.36 helvetica,arial,sans-serif;
  background-color: white;
  color: #000;
}
.caption > a:hover {
  color: #000;
  text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
  font-family: helvetica,arial,sans-serif;
  font-size: 15px;
}

// Large screens
.card-container.card {
  border-top: 1px solid #ccc;
  max-width: 350px;
  padding: 40px 40px;
}

.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.card {
  // background-color: #F7F7F7;
  /* just in case there no content*/
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  /* shadows and rounded borders */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.reauth-email {
  display: block;
  color: #404040;
  line-height: 2;
  margin-bottom: 10px;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#inputName, #inputEmail, #inputPassword {
  direction: ltr;
  height: 44px;
  font-size: 16px;
}

.form-signin input[type=text],
#inputName, #inputEmail, #inputPassword, button {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  z-index: 1;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.form-signin .form-control:focus {
  // background-image: url(https://images1.miaminewtimes.com/imager/u/original/8507126/case.jpg);
  border-color: rgb(104, 145, 162);
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
  font: 700 1.5rem/1.36 helvetica,arial,sans-serif;
  background-color: black;
  height: 41px;
  margin-top: 22px;
  padding: 0px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  height: 41px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
  background-color: black;
}

.forgot-password {
  color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
  color: rgb(12, 97, 33);
}

.signup-link a {
  font: 1.5rem/1.36 helvetica,arial,sans-serif;
  background-color: white;
  color: #666;
}
.signup-link a:hover {
  // text-decoration: none;
  font: 1.5rem/1.36 helvetica,arial,sans-serif;
  background-color: white;
  color: #666;
}
.f-password {
  text-decoration: underline;
}

label {
  font: 1.1rem/1.36 helvetica,arial,sans-serif;
  font-size: 1.1rem;
  letter-spacing: .04rem;
  color: #222;
  display: block;
  margin-bottom: 5px;
}

.title {
  font-weight: bold;
  text-align: center;
  font: 2.6rem/1.36 "Francois One",sans-serif;
  padding-bottom: 10px;
  text-transform: uppercase;
}

// Large Phone / Iphone 6
@media only screen and (max-width: 414px) {
  // .navbar {
  //   height: 60px;
  // }
  //
  // .navbar-header {
  //   padding-top: 24px;
  //   z-index: 1;
  //   margin-left: -77px;
  // }
  //
  // #search-form {
  //   display: none;
  //   z-index: 0;
  // }
  //
  // .fa-shopping-cart {
  //   margin-top: -63px;
  //   float: right;
  //   margin-right: 29px;
  // }
  //
  // .dropdown {
  //   float: right;
  //   margin-top: -45px;
  //   margin-right: -42px;
  // }

  .form-container {
    width: 820px;
  }

  .card-container.card {
    border-top: 1px solid #ccc;
    max-width: 100%;
    padding: 40px 40px;
  }

  .card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }

  .title {
    font-weight: bold;
    text-align: center;
    font-family: "Francois One",sans-serif;
    font-size: 56px;
    text-transform: uppercase;
    margin-bottom: 84px;
    padding-top: 36px;
  }

  label {
    font-family: helvetica,arial,sans-serif;
    font-size: 38px;
    font-weight: 300;
    letter-spacing: .04rem;
    color: #222;
    display: block;
    margin-bottom: 30px;
  }

  #inputName, #inputEmail, #inputPassword, button {
    width: 100%;
    display: block;
    margin-bottom: 60px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
  }

  #inputName, #inputEmail, #inputPassword {
    direction: ltr;
    height: 105px;
    font-size: 35px;
  }

  .btn.btn-signin {
    font: 700 1.5rem/1.36 helvetica,arial,sans-serif;
    background-color: black;
    height: 41px;
    margin-top: 22px;
    padding: 0px;
    margin-bottom: 107px;
    font-weight: 700;
    font-size: 34px;
    height: 100px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
  }

  .signup-link a {
    font-family: helvetica,arial,sans-serif;
    background-color: white;
    color: #666;
    font-size: 33px;
  }
  .signup-link a:hover {
    font-family: helvetica,arial,sans-serif;
    background-color: white;
    color: #666;
  }

  .checkbox input[type='checkbox']{
    margin-top: 0px;
  }
}

// PRODUCT SHOW PAGE
.show-img > img {
  max-width: 450px;
}
.show-img {
  padding-left: 30px;
  margin-top: 20px;
}

#product-info {
  padding-left: 32px;
}

.product-title {
  font-size: 30px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.price {
  font-size: 20px;
  font-weight: 300;
  font-family: helvetica,arial,sans-serif;
}

.description {
  margin-bottom: 90px;
  font-weight: 300;
  font-family: helvetica,arial,sans-serif;
  font-size: 15px;
  padding-top: 20px;
}

.reviews {
  margin-top: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
  padding-bottom: 10px;
  font-weight: bold;
  letter-spacing: 0.5px;
  font-family: helvetica,arial,sans-serif;
}

.comment {
  font-style: italic;
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.user-comment {
  font-style: italic;
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 11px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 4px;
}

#delete-comment > a {
  color: #000;
  font-weight: 400;
  // font-style: normal;
}
#delete-comment > a:hover {
  background-color: #fff;
  color: #000;
}
q {
  quotes: "	\201D" "\201D";
  font-size: 15px;
}
.review-text-area {
  border-color: #ccc;
  width: 100%;
}
.actions > input[type=submit] {
  height: 27px;
  border: 1px solid #ccc;
  font-size: 11.5px;
}

.show-links {
  margin-top: 25px;
}
.show-links > a {
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
  text-decoration: underline;
}
.show-links > a:hover {
  color: #000;
  background-color: #fff;
}


// EDIT PRODUCT PAGE
.form-control {
  margin-bottom: 20px;
  font-family: helvetica,arial,sans-serif;
  font-weight: 300;
}

input[type="file"] {
  display: block;
  padding-bottom: 20px;
}

.card.card-container > input[type=submit] {
  width: 100%;
  color: #fff;
  background-color: black;
  height: 41px;
  margin-top: 10px;
  padding: 0px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 14px;
  height: 41px;
  -moz-border-radius: 3px;
  border: none;
}

.rating {
  margin-bottom: 10px;
}
.checked {
  color: #666 !important;
}
.fa-star {
  color: #ccc;
}
