<div class="container-new-order">
  <h2 class='h2-new-order'>Thank you for you order!</h2>

  <p class='new-order'>We will send you email confirmatin shortly.</p>

  <%= link_to products_url %>
</div>
